## Pressionar Shift+Enter para executar os blocos de código.

In [1]:
!pip install pandas openpyxl
import pandas as pd
pd.set_option('display.max_rows', 4000)
#pd.set_option('display.precision', 2)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/rlneto/.local/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: openpyxl in /home/rlneto/.local/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/rlneto/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/rlneto/.local/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in /home/rlneto/.local/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: et-xmlfile in /home/rlneto/.local/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [375]:
def calcula_acertos(nome, resp, gab):
    acertos = 0
    resp = resp.loc[[nome]]
    r,g = resp.Resposta.tolist(), gab.Resposta.tolist()
    for q in range(len(g)):
        if r[q] == g[q]:
            acertos += 1
    return acertos

In [376]:
gabarito,respostas = pd.read_excel('Gabarito.xlsx', index_col = 0), pd.read_excel('Respostas.xlsx', index_col = 0)
gabarito.rename(columns={'Gabarito' : 'Resposta'}, inplace = True)
respostas.rename(columns = {'resp_aluno' : 'Resposta'}, inplace = True)
respostas['Resposta'] = respostas['Resposta'].str.upper()

In [377]:
lista_alunos = []
for aluno in respostas.index:
    if aluno not in lista_alunos:
        lista_alunos.append(aluno)

In [378]:
relatorio = pd.DataFrame(columns = [['Nome', 'Média de acertos %', 'Média de acertos', 'Total de acertos']])
for aluno in lista_alunos:
    acertos = calcula_acertos(aluno, respostas, gabarito)
    boletim = (aluno, ((acertos/len(gabarito)*100)), (acertos/len(gabarito)), acertos)
    boletim = pd.DataFrame([boletim], columns = [['Nome', 'Média de acertos %', 'Média de acertos', 'Total de acertos']])
    relatorio = pd.concat([relatorio, boletim], ignore_index=True)
boletim = ('Total', relatorio['Média de acertos %'].mean(skipna=False)[0], relatorio['Média de acertos'].mean(skipna=False)[0], relatorio['Total de acertos'].sum()[0])
boletim = pd.DataFrame([boletim], columns = [['Nome', 'Média de acertos %', 'Média de acertos', 'Total de acertos']])
relatorio = pd.concat([relatorio, boletim], ignore_index=True)
relatorio.round(2)
relatorio

                    Nome Média de acertos % Média de acertos Total de acertos
0       Agamedes Redondo              58.89             0.59               53
1           Plauto Felip              22.22             0.22               20
2         Muniz Barbeito               0.00             0.00                0
3           Kaniela Orti              24.44             0.24               22
4       Manolo dos Anjos              41.11             0.41               37
5           Menahem Goya              30.00             0.30               27
6           Oswaldo Lazo              22.22             0.22               20
7         Mahara Aparisi              32.22             0.32               29
8      Jussara Guillermo              32.22             0.32               29
9       Laurel De La Paz              28.89             0.29               26
10         Marco Vallina              28.89             0.29               26
11       Rodger Pancorbo              52.22             0.52               47
12       Micael Barreira               0.00             0.00                0
13                dexter              26.67             0.27               24
14     Franklin Barquero              26.67             0.27               24
15          Raphael Baca              31.11             0.31               28
16      Ikepela Teixidor              17.78             0.18               16
17        Tabata Badiola              51.11             0.51               46
18        Yakecan Merlos              45.56             0.46               41
19        Ibiacu Cordova              16.67             0.17               15
20        Eliasoe Aguera               0.00             0.00                0
21          Ubana Tapias              36.67             0.37               33
22          Oton Carrizo              36.67             0.37               33
23        Pandora Gorriz               0.00             0.00                0
24     Laurentine Santin              38.89             0.39               35
25          Celiny Fraga              55.56             0.56               50
26    Leikela Lizarralde              12.22             0.12               11
27      Roger dos Santos              30.00             0.30               27
28           Neila Liera               0.00             0.00                0
29         Nidia Rentero               0.00             0.00                0
30     Emereciana Casals              36.67             0.37               33
31          Userl Civico               0.00             0.00                0
32            Pali Neagu               0.00             0.00                0
33  Jannike Iparraguirre               0.00             0.00                0
34         Alban Ribeiro              20.00             0.20               18
35        Vasti Murciano              15.56             0.16               14
36          Cruz e Silva              36.67             0.37               33
37              Fernanda               0.00             0.00                0
38                 Total              23.89             0.24              817